<% title "Article" %>
<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation" class="alert-box alert">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-5 columns end">
    <%= f.label :title %>
    <%= f.text_field :title %>
    </div>
  </div>
  
  <div class="row" id="epiceditor">
    <%= f.label :body %>
    <%= f.text_area :body, :id => 'body_txt', :cols => 40, :rows => 10 %>
  </div>

  <div class="row">
    <div class="large-3 columns">
      <%= f.label :category_id %>
      <%= collection_select(:article, :category_id, Category.all, :id, :title, options ={:prompt => "Select a category"}) %>
    </div>
    <div class="large-6 columns">
      <%= f.label :New_Category %>
      <div class="large-6 columns"><input type="text" name="new_cat" id="new_cat" placeholder="New category..."></div>
      <div class="large-3 columns end"><a href="javascript:void(0)" class="tiny button" onclick="addCategory()">Add new</a></div>
    </div>
    <div class="large-3 columns end">
       <%= f.label :Visibility %><br>
      <%= f.check_box :public %><%= f.label :public %>
    </div>
  </div>
  
  <div class="row">
     <div class="large-5 columns">
      <%= f.label :tags %>
      <%= f.text_field :tags, {class: "large-3 columns", placeholder: "Comma separated (e.g. intranet, salesorder, updating)"} %>
      </div>
      <div class="large-2 columns end">
      <%= f.label :author %>
      <%= f.text_field :author %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="actions">
    <%= f.submit "Submit", :onclick => 'setEpicValue()', class: "small success button" %>
    <%= link_to 'Cancel', @article, class: "small alert button" %>
  </div>
  </div>

 

  <%= f.hidden_field :body, :id => 'article_body'%>



<% end %>
