<% @articles = Article.paginate(:page => params[:page], :per_page => 10) %>
<div class="row article-meta">
  <div class="top-article-count"><div class="pagination-info"><%= page_entries_info @articles %></div></div>
  <div class="top-article-pagination"><%= will_paginate @articles, :renderer => PaginationListLinkRenderer, :previous_label => '&laquo;', :next_label => '&raquo;' %></div>
</div>
<% @articles.each do |article| %>
<div class="row panel">
  <div class="large-12 columns">
    <div class="row"><h1><%= link_to article.title, article %></h1></div>
    <div class="row">
      <div class="article-meta">
      <%= image_tag("icons/icon-category.png", class: "global-icon") %> Category: <%= link_to article.category.title, category_path(article.category), class: "round label success" %> | <%= image_tag("icons/icon-user.png", class: "global-icon") %> Created by: <em><%= article.author %></em> | <%= image_tag("icons/icon-update.png", class: "global-icon") %> Last updated: <%= prettyTime(article.updated_at) == prettyTime(Date.today) ? "Today" : prettyTime(article.updated_at) %><br>
      
      </div>
    </div>
    <div class="row">
      <div class="article-body"><%= truncate(article.body, length: 200) %></div>
    </div>
  </div>
</div>

<% end %>

<div class="row">
  <div class="large-12 columns">
    <%= will_paginate @articles, :renderer => PaginationListLinkRenderer, :previous_label => '&laquo;', :next_label => '&raquo;' %>
    <div class="pagination-info"><%= page_entries_info @articles %></div>
  </div>
</div>