<div class="row article-meta">
  <p><%= pluralize(@articles.count, 'total article') %> in the kb.</p>
</div>

<% @articles.each do |article| %>
<div class="row panel">
  <div class="large-2 columns center">
    <div class="article-avatar <%= article.category%>" onclick="window.location = '<%= url_for article %>'"></div>
  </div>
  <div class="large-10 columns">
    <h1><%= link_to article.title, article %></h1>
    <div class="article-meta">Category: <%= link_to Category.find(article.category).title, category_path(article.category) %> | Created by: <em><%= article.author %></em> | Last updated: <%= article.updated_at %> <br>
    <!-- Tags: <%= article.tags  %> -->
    </div>

    <div class="article-body"><%= truncate(article.body, length: 200) %></div>
  </div>
</div>

<% end %>