<% title @article.title %>

<div class="row panel">
	<% if flash[:notice] %>
   		<div class="alert-box"><%= flash[:notice] %></div>
  	<% end %>
	
	<h1><%= @article.title.titleize %></h1>
	<span class="subheader">Created on <%= prettyTime(@article.created_at) %> by <em><%= @article.author %></em></span>

	<hr />

	<div class="row">
		<div class="large-9 columns">
			<%= markdown @article.body %>
		</div>
		<div class="large-3 columns article-sidebar">
			<%= image_tag("icons/icon-category.png", class: "sidebar-icon") %> <b>Category:</b> <%= link_to Category.find(@article.category).title, category_path(@article.category), class: 'label round success' %> <br>
			<%= image_tag("icons/icon-clock.png", class: "sidebar-icon") %> <b>Created:</b> <%= prettyTime(@article.created_at) == prettyTime(Date.today) ? "Today" : prettyTime(@article.created_at) %> <br>
			<%= image_tag("icons/icon-user.png", class: "sidebar-icon") %> <b>Author:</b> <%= @article.author %> <br>
			<%= image_tag("icons/icon-tag.png", class: "sidebar-icon") %> <b>Tags:</b> <%= @article.tag_list.count > 0 ? (raw @article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')) : raw("<em>None</em>") %><br>
			<%= image_tag("icons/icon-update.png", class: "sidebar-icon") %> 
				<b>Revised:</b> 
				<%= @article.revisions == nil ? "Never" : (prettyTime(@article.updated_at) == prettyTime(Date.today) ? "Today" : prettyTime(@article.updated_at)) %> 
				<br>
			<%= image_tag("icons/icon-graph.png", class: "sidebar-icon") %>  <b>Revisions:</b> <%= @article.revisions == nil ? 0 : @article.revisions %> <br>
			<%= image_tag("icons/icon-public.png", class: "sidebar-icon") %> <b>Public:</b> <%= @article.public %>
		</div>

	</div>

	<div class="article-controls center">
		<!-- <%= link_to 'Back', articles_path, class: "tiny button" %> -->
		<%= link_to 'Edit', edit_article_path(@article), class: 'tiny button' %> 
		<%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny alert button' %>
	</div>
</div>