<% title @article.title %>

<div class="row panel">
	<% if flash[:notice] %>
   		<div class="alert-box notice"><%= flash[:notice] %></div>
  	<% end %>
	
	<h1><%= @article.title.titleize %></h1>
	<span class="subheader">Created on <%= prettyTime(@article.created_at) %> by <em><%= @article.author %></em></span>

	<hr />
	
	<div class="row">
		<div class="large-9 columns">
			<%= markdown @article.body %>
		</div>
		<div class="large-3 columns article-sidebar">
			<b>Created:</b> <%= prettyTime(@article.created_at) %> <br>
			<b>Author:</b> <%= @article.author %> <br>
			<b>Tags:</b> <%= @article.tags %> <br>
			<b>Revised:</b> <%= prettyTime(@article.updated_at) %> <br>
			<b>Revisions:</b> <%= @article.revisions %> <br>
			<b>Public:</b> <%= @article.public %>
		</div>

	</div>

	<div class="article-controls center">
		<!-- <%= link_to 'Back', articles_path, class: "tiny button" %> -->
		<%= link_to 'Edit', edit_article_path(@article), class: 'tiny button' %> 
		<%= link_to 'Delete', @article, method: :delete, data: { confirm: 'Are you sure?' }, class: 'tiny alert button' %>
	</div>
</div>