<div class="row">
<h2>Tag: <em><b><%= params[:tag] %></b></em> <span class="round label article-header-count-badge"><%= @articles.count %></span></h2>
</div>

<% @articles.each do |article| %>
<div class="row panel">
  <div class="large-12 columns">
    <div class="row"><h1><%= link_to article.title, article %></h1></div>
    <div class="row">
      <div class="article-meta">
      <%= image_tag("icons/icon-category.png", class: "global-icon") %> Category: <%= link_to article.category.title, category_path(article.category), class: "round label success" %>| 
      <%= image_tag("icons/icon-tag.png", class: "global-icon") %> Tags: <%= raw article.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %> | 
      <%= image_tag("icons/icon-user.png", class: "global-icon") %> Created by: <em><%= article.author %></em> | 
      <%= image_tag("icons/icon-update.png", class: "global-icon") %> Last updated: <%= prettyTime(article.updated_at) == prettyTime(Date.today) ? "Today" : prettyTime(article.updated_at) %><br>
      </div>
    </div>
    <div class="row">
      <div class="article-body"><%= truncate(article.body, length: 200) %></div>
    </div>
  </div>
</div>

<% end %>