<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation" class="alert-box alert">
      <p><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</p>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="large-3 small-centered columns">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="actions center">
    <%= f.submit "Submit", class: 'small button' %>
  </div>
<% end %>
