<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>CMM - <%= content_for?(:title) ? yield(:title) + " - Knowledgebase" : "Knowledgebase" %></title>
<%= stylesheet_link_tag    "application" %>
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<%= javascript_include_tag "vendor/modernizr" %>
<%= csrf_meta_tags %>
</head>
<body>
<header>
  <div class="row">
    <div class="large-3 columns">
      <div class="logo-wrapper">
      <%= link_to(image_tag("logo.png"), root_url ) %>  <br>
      <%= link_to(image_tag("article-default.png", class: 'logo-book'), root_url ) %> Knowledgebase
      </div>
    </div>
    <div class="large-9 columns">
        <div class="header-controls">
          <ul class="button-group">
           <li><a href="#" class="tiny button success">Login</a></li>
           <li><%= link_to "New Article", new_article_path, class: "tiny button"  %></li>
           <li><%= link_to "New Category", new_category_path, class: "tiny button"  %></li>
          </ul>
        </div>
    </div>
    </div>
    <!-- BEGIN Search -->
    <div class="row">
      <div class="small-8 large-5 centered">
       <%= render partial: 'articles/search' %>
      </div>
    </div>
    <!-- END Search -->
  
</header>

<div class="main-content">
  <%= yield %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>